{% extends "layout.html" %}

{% block content %}
<form method="POST" action="{{endpoint}}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="titre">titre du film</label>
        <input type="text" id="titre" name="titre" class="form-control" value="{{films.titre}}">
    </div>
    <div class="form-group">
        <label for="realisateur">Réalisateur du film </label>
        <input type="text" id="realisateur" name="realisateur" class="form-control" value="{{films.realisateur}}">
    </div>
    <div class="form-group">
        <label for="synopsis">Synopsis du film </label>
        <textarea name="synopsis" id="synopsis" class="form-control">{{films.synopsis}}</textarea>
    </div>
    <div class="form-group">
        <label for="date">date de diffusion du film </label>
        <input type="text" id="date" name="date" class="form-control" value="{{films.date}}">
    </div>
    <div class="form-group">
        <label for="file">affiche du film </label>
        <input type="file" id="file" name="file">
    </div>
    <div class="form-groupe">
        {% for types in types %}
            <label>
                 <input type="checkbox" name="types[]" value="{{types._id}}" {% if films.types.indexOf(types._id) != -1 %} checked {% endif %}>
                {{types.name}}
            </label>
         {% endfor %}
    </div>

        <input type="submit" class="btn btn-primary" value="Enregistrer" />
    </form>
{% endblock %}